
body {
    margin-top: 107px;
}
/* header {
    position: absolute;
} */

/* 
.JobBoard button:hover,
.JobBoard button:active {
    color: white;
    background-color: #fa923f;
} */ */

.intro {
    /* color: white; */
    font-family: 'Righteous', cursive;
    text-align: center;
    /* margin-top: 107px; */
}

.Post {
    justify-content: center;
    /* display: inline-block; 
    flex: 50%; */
    /* flex-flow: row wrap; */
    background-color: white;
    /* width: 40%; */
   
    border-radius: 5px;
    
    border-color: gray;
    box-shadow: 0 2px 3px #ccc;
    /* text-align: center; */
    /* margin-left: 30%;
    margin-right: 30%; */
    
    margin: auto;

      }
 
.boss {
    color: #FF6363;
    font-family: 'Righteous', cursive;
}
.jobinfo {
    color: gray;
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 576px) {
    .Post {
        font-size: 1.1em;
        text-align: center;
        width: 60%;
        
    }
    .intro {
        font-size: 3em;
        color: white;
        text-align: center;
        margin-top: 107px;
    }
 }

 @media (max-width: 575.98px) {
    .Post {
        font-size: .8em;
        text-align: center;
        width: 80%;

        
    }  .intro {
        font-size: 1em;
        color: white;
        text-align: center;
        margin-top: 107px;

    }
 }
 @media (min-width: 960px) {
    .Post {
        font-size: 2em;
        text-align: center;
        width: 40%;
       
    }
    .intro {
        font-size: 3em; 
        color: white;
        text-align: center;
        margin-top: 107px;
    }
 }
 .background_image {
    background-size: contain;
    }