/* .background-image {

        background-image: url('../../resources/images/Main.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
    
} */
body {
    margin-top: 107px;
}
header {
    position: absolute;
}

/* .JobBoard {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    border-radius: 40px
}

.JobBoard label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.JobBoard input,
.JobBoard textarea,
.JobBoard select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
    border-radius: 40px
}

.JobBoard button {
    margin: 5px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
    border-radius: 40px
}

.JobBoard button:hover,
.JobBoard button:active {
    color: white;
    background-color: #fa923f;
} */

.intro {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.Post {
    /* display: inline-block;  */
    /* flex: 50%; */
    /* flex-flow: row wrap; */
    justify-items: center;
    width: 50%;
    margin:20px auto;
    border-radius: 5px;
    /* border: 1px solid #eee; */
    border-color: gray;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    /* text-shadow: 0 2px 3px rgb(114, 99, 99); */
    display: inline-block;
    position: relative;
    margin: 20px 10px auto;
    /* float: center; */
    width: 25%;
    height: 260px;
    background-color: white;
    box-align: center;

      }
 

    

.boss {
    color: #FF6363;
}
.jobinfo {
    color: gray;
}
@media (min-width: 576px) {
    .Post {
        font-size: 1em;
        /* color: red; */
    }
    .intro {
        font-size: 2em;
    }
 }

 @media (max-width: 575.98px) {
    .Post {
        font-size: .8em;
        /* color: orange; */
    }  .intro {
        font-size: 1em;
        
    }

 }
 @media (min-width: 960px) {
    .Post {
        font-size: 1.2em;
        /* color: rgb(101, 150, 152); */
    }
    .intro {
        font-size: 3em;
        
    }
 }
 /* .Post{
     #h1{
         Font-color: red;
     }
 } */
 .background_image {
    background-size: contain;
    }