.CareerForm {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #e3f3f3;
}

.TextField{
  text-align:center;
}

@media (min-width:576px){
  form{
    font-size:1.6em;
    color: red;
  }
}

@media (max-width:575.98px){
  form{
    font-size:1.5em;
    color: orange;
  }
}

@media (min-width:960px){
  form{
    font-size:1.7em;
    color:blue;
  }
}