header {
    padding:10px 0px;
    transition: all 300ms ease-in;
}

header .header_logo {
    flex-grow: 1;
}
header .header_logo_githired {
    font-size: 40px;
}

header .header_logo_title {
    text-transform: uppercase;
}
