.JobBoard {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    border-radius: 40px
}

.JobBoard label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.JobBoard input,
.JobBoard textarea,
.JobBoard select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
    border-radius: 40px
}

.JobBoard button {
    margin: 5px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
    border-radius: 40px
}

.JobBoard button:hover,
.JobBoard button:active {
    color: white;
    background-color: #fa923f;
}