
body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    
}

.font_righteous {
    font-family: 'Righteous', cursive;
}

.bck_black {
    background: #3c3c3c;
}
.bck_white {
    background: #ffffff;
}
.bck_red {
    background: #ff4800;
}
.bck_yellow {
    background: #ffa800;
}

.iconImage {
    width: 20px;
    margin-right: 10px;
}

.center_wrapper {
    width: 900px;
    margin:0 auto;
}


/*====================
        HEADER
======================*/


header {
    padding:10px 0px; 
    transition: all 300ms ease-in; 
   
      
}

header .header_logo {
    flex-grow: 1;
}
header .header_logo_githired {
    font-size: 40px;
}

header .header_logo_title {
    text-transform: uppercase;
}
.fa-bars {
    display: none !important;
    color: #FF6363;
    float: right;
    padding: 20px;
    position: fixed;
    right: 0;
    z-index: 500;
    cursor: pointer;
  }
  .fa-times {
    color: #FF6363;
    float: right;
    padding: 20px;
    right: 0;
    z-index: 600;
    cursor: pointer;
  }
.header-links {
   position: left;
   width: 100%;
   z-index: 500;
   }
 
   .header-links li {
     color: white;
     display: inline;
     /* float: left; */
     padding: 15px;
     font-size: 16px;
   }
 
   .header-links a {
     color: white;
     -webkit-transition: all 0.2s ease-in;
   }
 
   .header-links a:hover {
     color: #FF6363 !important;
   }


 



 
/*====================
        FOOTER
======================*/

footer {
    padding:50px 0px;
    text-align: center;
    font-size: 60px;
    color:#ffffff;
    background:  #FF6363;
}

footer .footer_copyright {
    font-size: 18px;
}

/*====================
        CARROUSEL
======================*/


.carousel_wrapper {
    height:700px;
    overflow: hidden;
}

.carousel_image {
    
    background-size: cover !important;
}

.git_main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 160px;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   
    border: 2px solid white;
}

.git_main .wrapper {
    border: 2px solid white;
    height: 121px;
    margin: 6px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 21px 70px 0px 70px;
    text-transform: uppercase;
}

/*====================
        COUNTDOWN
======================*/

.countdown_wrapper {
    position:absolute;
    bottom: 0px;
    color:#ffffff;
}

.countdown_wrapper .countdown_top {
    background: #ff4800;
    font-size: 19px;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
}

.countdown_wrapper .countdown_bottom {
    display: flex;
    background: #d93d00;
    padding: 10px 20px;
}

.countdown_wrapper .countdown_time {
    font-size: 70px;
    border-right: 1px solid #F44336;
    margin-right: 14px;
    padding-right: 49px;
}
.countdown_wrapper .countdown_item:last-child .countdown_time{
    border:none;
}

.countdown_wrapper .countdown_tag {
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 7px;
}

/*====================
        VENUE NFO
======================*/

.gs_wrapper {
    display: flex;
    padding: 170px 0px;
    color:#2f2f2f;
}

.gs_item {
    width:50%;
    color:#ffffff;
    text-align: center;
}
                      
.gs_item .gs_outer {
    width: 300px;
    border: 2px solid #828282;
    margin: auto;
    padding: 5px;
}

.gs_item .gs_inner { 
    border: 2px solid #828282;
    position: relative;
    padding: 0px 20px;
    transition: all 500ms ease;
}

.gs_item .gs_inner:hover {
    background: #3e3e3e;
}

.gs_item .gs_icon_square {
    width: 100px;
    height: 100px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -54px;
    left: 100px;
}

.gs_item .gs_icon {
    width: 50px;
    height: 50px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: -30px;
    left: 124px;
}

.gs_item .gs_title {
    font-size: 28px;
    margin: 90px 0px 20px 0px;
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 10px;
}

.gs_item .gs_description {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 90px;
}

/*====================
        HIGHLIGHTS
======================*/


.highlight_wrapper h2 {
    text-align: center;
    text-transform: uppercase;
    color:#2c2c2c;
    font-size: 52px;
}

.highlight_wrapper .highlight_description {
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 30px 0px;
}

.discount_wrapper {
    display: flex;
    padding: 70px 0px;
}

.discount_wrapper .discount_porcentage {
    padding-right: 100px;
}

.discount_wrapper .discount_porcentage span:nth-child(1) {
    color: #ff4800;
    font-size: 125px;
    font-weight: 400;
    display: block;
    line-height: 120px;
}

.discount_wrapper .discount_porcentage span:nth-child(2) {
    color: #2c2c2c;
    font-size: 50px;
    font-weight: 400;
    display: block;
}


.discount_wrapper .discount_description h3 {
    font-size: 34px;
    font-weight: 100;
    margin: 0px;
    color: #2c2c2c;
}

.discount_wrapper .discount_description p { 
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
}


/*====================
        LISTINGS NFO
======================*/

.l_wrapper {
    display: flex;
    padding: 170px 0px;
    color: black;
}

.l_item {
    width:50%;
    color:#ffffff;
    text-align: center;
}
                      
.l_item .l_outer {
    width: 300px;
    border: 2px solid #828282;
    margin: auto;
    padding: 5px;
}

.l_item .l_inner { 
    border: 2px solid #828282;
    position: relative;
    padding: 0px 20px;
    transition: all 500ms ease;
}

.l_item .l_inner:hover {
    background: #3e3e3e;
}

.l_item .l_icon_square {
    width: 100px;
    height: 100px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -54px;
    left: 100px;
}

.l_item .l_icon {
    width: 50px;
    height: 50px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: -30px;
    left: 124px;
}

.l_item .l_title {
    font-size: 28px;
    margin: 90px 0px 20px 0px;
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 10px;
}

.l_item .l_description {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 90px;
}

/*====================
        Gitconnected
======================*/

.g_wrapper {
    display: flex;
    padding: 170px 0px;
}

.g_item {
    width:50%;
    color:#ffffff;
    text-align: center;
}
                      
.g_item .g_outer {
    width: 300px;
    border: 2px solid #828282;
    margin: auto;
    padding: 5px;
}

.g_item .g_inner { 
    border: 2px solid #828282;
    position: relative;
    padding: 0px 20px;
    transition: all 500ms ease;
}

.g_item .g_inner:hover {
    background: #3e3e3e;
}

.g_item .g_icon_square {
    width: 100px;
    height: 100px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -54px;
    left: 100px;
}

.g_item .g_icon {
    width: 50px;
    height: 50px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: -30px;
    left: 124px;
}

.g_item .g_title {
    font-size: 28px;
    margin: 90px 0px 20px 0px;
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 10px;
}

.g_item .g_description {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 90px;
}
