
body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    background: #3c3c3c; 
    /* margin-top: 107px; */
    
    
}

.font_righteous {
    font-family: 'Righteous', cursive;
}

.bck_black {
    background: #3c3c3c;
}
.bck_white {
    background: #ffffff;
}

.iconImage {
    width: 20px;
    margin-right: 10px;
}

.center_wrapper {
    width: 900px;
    margin:0 auto;
}
a {
    text-decoration: none !important;
  }

/*====================
        HEADER
======================*/

header {
    padding:10px 10px; 
    transition: all 300ms ease-in; 
}

header .header_logo_title {
    text-transform: uppercase;
}
.fa-bars {
    display: none !important;
    color: #FF6363;
    float: right;    
    padding: 20px;
    position: fixed; 
    right: 0;
    z-index: 500;
    cursor: pointer;
  }
  
  .header-links {
    position: left;
    width: 100%;
    z-index: 500;
    }
  
    .header-links li {
      color: white;
      display: inline;
      /* float: left; */
      padding: 15px;
      font-size: 16px;
    }
  
    .header-links a {
      color: white;
      
    }
  
    .header-links a:hover {
      color: #FF6363 !important;
    }
   
   
/*====================
        FOOTER
======================*/

footer {
    padding:10px 0px;
    text-align: center;
    font-size: 25px;
    color:#ffffff;
    background:  #FF6363;
}


footer .footer_copyright {
    font-size: 12px;
}
.social-links a{
    color: white;
    padding: 0px 5px 0px 5px;
  }

  .social-links a:hover {
    color: #3c3c3c;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }


/*====================
        HOME
======================*/

.background_image {
background-size: contain;
}
.home_box {
    position: absolute;
    top: 55%;
    left: 15%;
    width: 600px;
    height: 160px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
   
 }
 .home_subtitle {
   
    /* height: 121px; */
    /* margin: 0_auto; */
    text-align: center;
    color: white;
    font-size: 54px;
    padding: 21px 70px 0px 70px; 
    
  
   
 }
 .home_title {
   
    color: WHITE ;
    text-align: center;
    padding: 21px 70px 0px 70px;  
    font-size: 27px;
 }


 #submit {
    
    margin: 4px 10px;
    outline: none;
    padding: 10px;
    min-width: 150px;
    border-radius: 1px;
    border: 1px solid white;
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    
  
    
    
  }

  #submit:hover {
    background-color: transparent;
    color: #FF6363;
    
  }

/*====================
        Monkey
======================*/




/*====================
        Gitconnected
======================*/

.g_wrapper {
    display: flex;
    padding: 170px 0px;
}

.g_item {
    width:50%;
    color:#ffffff;
    text-align: center;
}
                      
.g_item .g_outer {
    width: 300px;
    border: 2px solid #828282;
    margin: auto;
    padding: 5px;
}

.g_item .g_inner { 
    border: 2px solid #828282;
    position: relative;
    padding: 0px 20px;
    transition: all 500ms ease;
}

.g_item .g_inner:hover {
    background: #3e3e3e;
}

.g_item .g_icon_square {
    width: 100px;
    height: 100px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -54px;
    left: 100px;
}

.g_item .g_icon {
    width: 50px;
    height: 50px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: -30px;
    left: 124px;
}

.g_item .g_title {
    font-size: 28px;
    margin: 90px 0px 20px 0px;
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 10px;
}

.g_item .g_description {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 90px;
}
